body{font-family: 'Noto Sans', sans-serif;}

.container{
    width: 1500px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/*LOGO*/
.Head{
    background-color: rgb(236, 232, 255);
}
.Head img{
    width: 8%;  
}

.Head a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    
    font-size: 18px;
}
.Log{
    margin-top: 7px;
}
.Sign{
    margin-top: 8px;
}
.Log a{
    margin-left: 1220px;
    color: dodgerblue;
    
    
}
.Sign a{
    border: 1px solid dodgerblue;
    color: rgb(255, 254, 254);
    font-weight: 100px;
    background-color: dodgerblue;
    border-radius: 5px;
}
.Log a:hover{
    color: rgb(22, 106, 190);
    text-decoration: underline solid rgb(22, 106, 190) 1px ;
}
.Sign a:hover{
    background-color: rgb(20, 77, 135);
}

/* Section 1*/
.Section1{
    background-color: rgb(236, 232, 255);
    width: 100%;
    margin: auto;
}
.sec1{
    width: 40%;
    margin: auto;
    margin-left: 230px;
}
.p1{
    font-size: 45px;
    font-weight: 700px;
}
.p2{
    font-size: 20px;
    font-weight: 250px;
    padding: 3px;
    margin-bottom: 60px;
}

.Mail a{
    border: 1px solid rgb(151, 152, 154);
    color: rgb(150, 147, 147);
    font-weight: 200px;
    background-color: rgb(245, 246, 247);
    border-radius: 5px;
    padding: 8px 250px 8px 8px;
    text-decoration: none;
    font-size: 20px;

}

.Click a{
    border: 1px solid dodgerblue;
    color: rgb(255, 254, 254);
    font-weight: 200px;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 8px 45px 8px 45px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}


.sec12{
    width: 40%;
    margin: auto;
}


.sec12 img{
    width: 68%;
    margin-left: 50px;
    margin-top: 50px;
}

.Click a:hover{
    background-color: rgb(19, 85, 150);
}

/*Section 2 */

.Section2{
    background-color: white;
    width: 100%;
    margin: auto;
}

.sec2{
    width: 55%;
    margin: auto;
}

.p21{
    font-size: 35px;
    font-weight: 500px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
}

.p22{
    font-size: 20px;
    font-weight: 200px;
    text-align: center;
    margin-bottom: 40px;
}

.Start a{
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 100px 300px 40px 330px;
}

.Start a:hover{
    background-color: blue;
    color: white;
}

.sec21{
    width: 70%;
    margin: auto;
}

.sec21 img{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.sec22{
    font-size: 20px;
    text-align: center;
}

.sec212{
    width: 50%;
    margin: auto;
}

.sec212 img{
    width: 60%;
    margin: 0px 0px 0px 170px;
}

/*Section 3 */

.Section3{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;

}

.sec3{
    width: 32%;
    margin: 40px 0px 0px 210px;
}

.p3{
    font-size: 30px;
    font-weight: bold;
}

.p31{
    font-size: 18px;
    font-weight: 200px;
}

.sec31{
    width: 40%;
    margin: 70px 0px 0px 195px;
   
}

.sec31 img{
    width: 90%;
}

.sec32{
    width: 32%;
    margin: 70px 0px 0px 0px;
    
}

.p32{
    font-size: 16px;
    font-weight: 600;
}

.p33{
    font-size: 30px;
    font-weight: 600;
}

.p34{
    font-size: 16px;
    font-weight: 500;
    color: rgb(144, 146, 148);
    margin-bottom: 40px;
}

.sec32 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}

.sec32 a:hover{
    text-decoration:  underline solid black 1px;
}

/*Section 4 */

.Section4{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.sec4{
    width: 34%;
    margin: 60px 60px 0px 210px
}

.sec41{
    width: 40% ;
    margin-top: 60px;
}

.sec41 img{
    width: 80%;
}

.sec4 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}

.sec4 a:hover{
    text-decoration:  underline solid black 1px;
}

/*Section 5 */

.Section5{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}


.sec5{
    width: 40%;
    margin: 70px 0px 0px 195px;
   
}

.sec5 img{
    width: 80%;
}

.sec51{
    width: 34%;
    margin: 70px 0px 0px 0px;
    
}

.sec51 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}

.sec51 a:hover{
    text-decoration:  underline solid black 1px;
}


/*Section 6 */

.Section6{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
}


.sec6{
    width: 33.5%;
    margin: 60px 60px 0px 210px
}

.sec6 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}

.sec6 a:hover{
    text-decoration:  underline solid black 1px;
}

/*Section 7 */

.line{
    width: 74%;
    margin: auto;
    border: 0.1px solid black;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 35px;
}

.sec7{
    width: 74%;
    margin: auto;
}

.sec71{
    width: 10%;
    margin: auto;
}

.sec72{
    width: 28%;
    margin: auto;
}

.p7{
    font-size: 20px;
    font-weight: 600;
}

.p71{
    margin-bottom: 35px;
}

.sec72 a{
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 15px;
    
}

.sec72 a:hover{
    background-color: blue;
    color: white;
}

/*Section 8 */

.Section8{
    background-color: rgb(230, 252, 255);
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 50px;
}

.sec8{
    width: 74%;
    margin: auto;
}

.sec81{
    width: 25%;
}

.sec81 img{
    width: 80% ;
    margin-top: 55px;
}

.sec82{
    width: 3%;
    margin-top: 65px;
}

.sec83{
    width: 70%;
    margin-top: 70px;   
}

.p8{
    font-size: 30px;
    font-weight: 500;
    color: rgb(35, 55, 82);
}

.p81{
    font-size: 15px;
    font-weight: 600;
    color: rgb(35, 55, 82);
    margin-left: 640px;
}

.line1{
    width: 74%;
    margin: auto;
    border: 2px solid rgb(35, 55, 82);
    background-color: rgb(35, 55, 82);
    margin-bottom: 20px;
    margin-top: 35px;
}

.sec84{
    width: 74%;
    margin: auto;
    margin-bottom: 70px;
   
}

/*Section 9 */

.Section9{
    width: 74%;
    margin: auto;
    border-radius: 7px;
    background-color: rgb(68, 101, 193);
    color: white;
    margin-bottom: 40px;
    
}

.sec9{
    width: 74%;
}

.p9{
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 80px;
    text-align: center;
}

.E{
    margin: 3px 5px 60px 300px;
}

.S{
    margin: 3px 10px 60px 0px;;
}

.E a{
    border: 1px solid rgb(151, 152, 154);
    color: rgb(150, 147, 147);
    font-weight: 200px;
    background-color: rgb(245, 246, 247);
    border-radius: 5px;
    padding: 6px 250px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    

}

.S a{
    border: 1px solid rgb(87, 174, 187);
    color: rgb(255, 254, 254);
    font-weight: 200px;
    background-color:rgb(87, 174, 187);
    border-radius: 5px;
    padding: 6px 45px 6px 45px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.S a:hover{
    background-color: rgb(76, 139, 148);
}


/*Section 10 */

.Section10{
    width: 100%;
    margin: auto;
    background-color: rgb(250, 250, 250);
    margin-bottom: 60px;
    
}

.sec10{
    width: 74%;
    margin: auto;
    margin-left: 550px;
}

.p10{
    margin-right: 60px;
}

.sec10 img{
    width: 17%;
    margin-left: 8px;
}

/*Section 11 */

.sec11{
    width: 74%;
    margin: auto;
    margin-bottom: 30px;
}

.sec11 a{
    text-decoration: none;
    color: rgb(208, 203, 203);
    border: 1px solid rgb(168, 162, 162);
    padding: 7px 90px 7px 10px;
    margin-left: 460px;
}


/*Section 12 */

.secl{
    width: 74%;
    margin: auto;
    margin-left: 350px;
}

.secl a{
    color: rgb(141, 138, 138);
    text-decoration: underline solid rgb(141, 138, 138) 1px ;
    padding: 0px 4px;
}   

.secl a:hover{
    color: #000;
    text-decoration: underline solid black 1px ;
}

/* Section 13*/

.sec13{
    width: 74%;
    margin: auto;
    text-align: center;
}
